 <section class="mt-4">
    <div
      class="d-flex flex-wrap justify-content-center align-items-center">
      
<div class="card text-center">
  <img src="assets/img/not_found2.png" class="card-img-top image_size" alt="Fissure in Sandstone"/>
  <div class="card-body">
    <p class="card-text">No podemos encontrar la pagina! Pero no tienes por que preocuparte. ¡Todo sigue siendo FABULOSO!</p>
    <a href="#" class="btn btn-primary">Regresar a la pagina inicial</a>
  </div>
</div>       

              
      
    </div>
  </section>